Repository kimyoo04/seoul-competition-all, pull requests merged in 2023-05, with the labels that each got.

#2 Fe feature/배포전 UI 수정
  seoul-competition-frontend/src/components/Rank/EducationRank/EducationRankItem/index.tsx
  seoul-competition-frontend/src/components/Rank/EducationRank/index.tsx
  seoul-competition-frontend/src/components/Rank/KewordRank/index.tsx
  seoul-competition-frontend/src/components/Rank/PostRank/PostRankItem/index.tsx
  seoul-competition-frontend/src/components/Rank/PostRank/index.tsx
  seoul-competition-frontend/src/components/Rank/SearchKeywordRank/SearchKeywordRankItem/index.tsx
  seoul-competition-frontend/src/components/Rank/SearchKeywordRank/index.tsx
  seoul-competition-frontend/src/components/Search/SearchGuide.tsx
  seoul-competition-frontend/src/components/Search/SearchNotFound.tsx
  seoul-competition-frontend/src/components/UserForm/index.tsx
  seoul-competition-frontend/src/scenes/Educations/EducationDetail/EducationDetailItem/Header.tsx
  seoul-competition-frontend/src/scenes/Educations/EducationDetail/EducationDetailItem/content.tsx
  seoul-competition-frontend/src/scenes/Educations/EducationList/index.tsx
  seoul-competition-frontend/src/scenes/Home/Contents/index.tsx
  seoul-competition-frontend/src/scenes/Home/index.tsx
  seoul-competition-frontend/src/scenes/Posts/PostItem/index.tsx
  seoul-competition-frontend/src/scenes/Posts/PostList/index.tsx
  seoul-competition-frontend/src/scenes/Posts/postDetail/PostDetailItem/Header.tsx
  seoul-competition-frontend/styles/globals.css
Labels: frontend, fix

#3 Be feature/mysql 더미데이터 생성
  docker-compose.yml
  seoul-competition-backend/src/main/resources/application.yml
  seoul-competition-mysql/Dockerfile
Labels: backend, fix

#5 Be-feature: 시각화 API 최대 통계 날짜 최대 7일로 설정
  seoul-competition-backend/src/main/java/com/seoul_competition/senior_jobtraining/domain/education/application/EducationRankService.java
  seoul-competition-backend/src/main/java/com/seoul_competition/senior_jobtraining/domain/education/dao/EducationRepository.java
  seoul-competition-backend/src/main/java/com/seoul_competition/senior_jobtraining/domain/post/application/PostRankService.java
  seoul-competition-backend/src/main/java/com/seoul_competition/senior_jobtraining/domain/post/dao/PostRepository.java
  seoul-competition-backend/src/main/java/com/seoul_competition/senior_jobtraining/domain/user/application/UserRankService.java
  seoul-competition-backend/src/main/java/com/seoul_competition/senior_jobtraining/domain/user/dao/UserDetailRepository.java
  seoul-competition-backend/src/main/java/com/seoul_competition/senior_jobtraining/domain/user/dao/UserSearchRepository.java
Labels: backend, feature

#7 Upstream/ai feature/챗봇 수정
  seoul-competition-ai/chat/chat.py
  seoul-competition-ai/recommend/model_update.py
  seoul-competition-ai/routers/chat.py
  seoul-competition-ai/routers/model.py
Labels: ai, fix

#8 fix: educationsStart -> educationStart로 변경
  seoul-competition-backend/src/main/java/com/seoul_competition/senior_jobtraining/global/scheduler/dto/EducationMonthReqDto.java
Labels: backend, fix

#11 Feature/배포전 검수 및 수정
  docker-compose.yml
  seoul-competition-ai/chat/chat.py
  seoul-competition-frontend/next.config.js
  seoul-competition-frontend/src/components/Chat/ChatHeader/index.tsx
  seoul-competition-frontend/src/scenes/Posts/postDetail/PostDetailItem/UpDelButtons.tsx
  seoul-competition-nginx/Dockerfile
  seoul-competition-nginx/default.conf
Labels: frontend, ai, fix

#13 Fe feature/UI ux 개선
  seoul-competition-frontend/next.config.js
  seoul-competition-frontend/src/components/Rank/DropdownItems/DropDown.tsx
  seoul-competition-frontend/src/components/Rank/EducationRank/index.tsx
  seoul-competition-frontend/src/components/Rank/KewordRank/index.tsx
  seoul-competition-frontend/src/components/Rank/PostRank/index.tsx
  seoul-competition-frontend/src/features/search/searchSlice.ts
  seoul-competition-frontend/src/layouts/Header/DesktopHeader/NavLinks.tsx
  seoul-competition-frontend/src/scenes/Educations/index.tsx
  seoul-competition-frontend/src/scenes/Posts/index.tsx
Labels: frontend, fix

#14 Chore/배포 후 수정
  docker-compose-dev.yml
  docker-compose.yml
Labels: frontend, mysqldb

#15 Fe feature/UI ux 개선
  seoul-competition-frontend/src/components/CustomLink/index.tsx
  seoul-competition-frontend/src/layouts/Header/DesktopHeader/NavLinks.tsx
  seoul-competition-frontend/src/layouts/Header/MobileHeader/index.tsx
  seoul-competition-frontend/src/layouts/Header/MobileHeader/menu.tsx
Labels: frontend, fix

#17 Ai feature/챗봇 재수정
  seoul-competition-ai/chat/chat.py
  seoul-competition-ai/recommend/model_update.py
Labels: ai, fix

#18 Fe feature/UI UX 개선
  seoul-competition-frontend/src/components/Rank/RankNotFound/index.tsx
Labels: frontend
